* {
  margin: 0;
  padding: 0;
}

.topnav {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 12px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  letter-spacing: .2em;
}

.utility ul {
  display: flex;
  justify-content: space-between;
}

.utility ul li {
  list-style-type: none;
  margin-right: 40px;
}

.search- li {
  display: flex;
}

.search ul {
  display: flex;
  justify-content: space-between;
}

.search ul li {
  list-style-type: none;
  margin-right: 40px;
}

.dropdown-menu p button {
  border: none;
  background-color: white;
}

.dropdown-menu ul {
  display: block;
  position: absolute;

}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #656968;
  font-size: 14px;
  line-height: 1.25;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  letter-spacing: .2em;
  margin-bottom: 0;
}

#accountDrop ul {
  float: left;

  padding: 0.5rem 0;
  padding-left: 10px;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #636766;
  text-align: left;
  /* list-style: none; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
}

#accountDrop {
  display: none;
  position: absolute;
}

.logo {
  text-align: center;
}

.logo img {
  width: 340px;
}

nav {
  margin-top: 5px;
}

.description {
  display: flex;
  justify-content: space-between;

}

.nav-flex {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
}

.nav-flex a {
  text-decoration: none;
  /* color: #d1d1d1; */
  color: #c2928a;
  font-family: Cormorant Garamond, serif;
  font-size: 16px;
  letter-spacing: .04em;
  line-height: 1.25;
}

.nav-flex p button {
  border: none;
  background-color: white;
  text-decoration: none;
  /* color: #d1d1d1; */
  color: #c2928a;
  font-family: Cormorant Garamond, serif;
  font-size: 16px;
  letter-spacing: .04em;
  line-height: 1.25;
}

.drop1 li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: .04em;
  line-height: 1.4;
}

.drop1 li a {
  text-decoration: none;
  color: black;
}

.drop1 li a:hover {
  color: #bb867d;
}

.drop2 li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: .04em;
  line-height: 1.4;
}

.drop2 li a {
  text-decoration: none;
  color: black;
}

.drop2 li a:hover {
  color: #bb867d;
}

.drop3 li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: .04em;
  line-height: 1.4;
}

.drop3 li a {
  text-decoration: none;
  color: black;
}

.drop3 li a:hover {
  color: #bb867d;
}

.dropdown-all {
  width: 90%;
  margin: auto;
  line-height: 1.7;
  display: flex;
}

.dropdown-all ul {
  margin-right: 100px;
  margin-left: 40px;
}

#droppdown {
  display: none;
  position: absolute;
  background-color: white;
  height: 460px;
  width: 98%;
  top: 35%;
  left: 0;

}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #eff1f1;
}

.banner1 img {
  width: 100%;
}

.section1 ul {
  display: flex;
  justify-content: space-between;
}

.section1 ul li {
  list-style: none;
}

.section1 ul li a:nth-of-type(2) {
  text-decoration: none;
  color: #fff;
}

.section1 ul li:nth-last-of-type(2) {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 700px;
  height: 130px;
  padding-top: 500px;
  margin-left: 30px;
  margin-top: 40px;
  /* padding: 0 30px; */
  font-size: 1.875rem;
  font-family: Cormorant Garamond, serif;
  letter-spacing: .17em;
  /* font-weight: 300; */
  /* line-height: 1.3; */
  text-align: center;
  list-style-position: inside;
  background-image: url(./img/640a9a7a85fad.jpeg);
  background-repeat: no-repeat;
}

.section1 ul li a:nth-of-type(1) {
  text-decoration: none;
  color: black;
}


.section1 ul li:nth-last-of-type(1) {
  background-image: url(./img/640a9b5a5f1b9.jpeg);
  background-repeat: no-repeat;
  height: 400px;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.3;
  font-family: Cormorant Garamond, serif;
  letter-spacing: .17em;
  width: 700px;
  height: 130px;
  padding-top: 500px;
  margin-left: 30px;
  margin-top: 80px;
  text-align: center;
}

.section2 {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.sec2-1 p {
  font-family: Cormorant Garamond, serif;
  font-size: 1.5rem;
  letter-spacing: .024em;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sec2-1 span {
  font-family: Raleway, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  margin-left: 140px;
  padding: 0.1875rem 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #f9e5dd;
  color: #121313;
}

.sec2-2 p {
  font-family: Cormorant Garamond, serif;
  font-size: 1.5rem;
  letter-spacing: .024em;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sec2-2 span {
  font-family: Raleway, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  margin-left: 140px;
  padding: 0.1875rem 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #f9e5dd;
  color: #121313;
}

.sec2-3 p {
  font-family: Cormorant Garamond, serif;
  font-size: 1.5rem;
  letter-spacing: .024em;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sec2-3 span {
  font-family: Raleway, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  margin-left: 140px;
  padding: 0.1875rem 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #f9e5dd;
  color: #121313;
}

.banner2 img {
  width: 90%;
  margin-left: 60px;
  margin-top: 130px;
  margin-bottom: 100px;
}

.home-product-header {
  font-family: Cormorant Garamond, serif;
  letter-spacing: .17em;
  /* margin-bottom: 0.5rem; */
  text-transform: uppercase;
  color: inherit;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
}

.home-product-header hr {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-top: 3px solid #dfafa7;
}

.section3 ul li{
  list-style: none;
}

.section3 ul a{
  text-decoration: none;
}

.section3 ul a p{
  color: #123f48;
  font-family: Lora,serif;
    font-size: 20px;
    letter-spacing: .05em;
    line-height: 1.313;
    text-align: center;
    margin-bottom: 20px;
}

.section3 ul a span{
      color: #636766;
      text-align: center;
      margin-left: 140px;
}

.section3 ul li img{
  width: 300px;
}

.sec3-last-img{
  width: 300px;
  height: 450px;
}

.section3 ul{
  display: flex;
justify-content: space-between;
margin-left: 40px;
margin-right: 40px;
}

.sec3-new1{
  position: absolute;
    /* top: 1rem; */
    left: 0;
    margin-left: 50px;
    margin-top: 30px;
    /* z-index: 3; */
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    background-color: #dfafa7;
    color: white;
}

.sec3-new2{
  position: absolute;
    /* top: 1rem; */
    left: 0;
    margin-left: 50px;
    margin-top: 30px;
    /* z-index: 3; */
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    background-color: #dfafa7;
    color: white;
}

.sec3-new3{
  position: absolute;
    /* top: 1rem; */
    left: 0;
    margin-left: 50px;
    margin-top: 30px;
    /* z-index: 3; */
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    background-color: #dfafa7;
    color: white;
}

.sec3-new4{
  position: absolute;
    /* top: 1rem; */
    left: 0;
    margin-left: 50px;
    margin-top: 30px;
    /* z-index: 3; */
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    background-color: #dfafa7;
    color: white;
}

.banner3-word h2{
  color: #121313;
  font-family: Cormorant Garamond,serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: .17em;
  line-height: 1.267;
  /* margin-bottom: 0.5rem; */
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  margin-bottom: 40px;

}

.banner3-word p{
  font-family: lora,serif;
  color: #636766;
  font-size: 20px;
  width: 400px;
  text-align: center;
  margin-bottom: 50px;
}

.banner3-word button{
  padding: 0.8125rem 1rem;
    font-family: Raleway,sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1.5;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    border: none;
    background: #fff;
    border-color: #eff1f1;
    color: #121313;
    align-items: center;
    margin-left: 90px;
}

.banner3{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  background-image: url(./img/5eab63c4ba6fa.jpeg);
  background-repeat: no-repeat;
  width: 100%;
}

.sec4-img img{
width: 100%;
}


.sec4-word{
  margin-top: 100px;
}
.sec4-word span{
  font-family: Raleway,sans-serif;
    font-weight: 600;
    letter-spacing: .2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #bb867d;
    font-size: 14px;
    line-height: 1.286;
}

.sec4-word h3{
  color: #121313;
    font-family: Cormorant Garamond,serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: .04em;
    line-height: 1.3;
    margin-bottom: 40px;
    text-transform: none;
    width: 600px;
}

.sec4-word p{
  font-family: Lora,serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5;
  color: #636766;
  text-align: left;
  margin-bottom: 30px;
}

.sec4-word button{
  background: #dfafa7;
    border: 1px solid #dfafa7;
    color: #121313;
    display: inline-block;
    max-width: 100%;
    padding: 0.8125rem 1rem;
    font-family: Raleway,sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1.5;
    border-radius: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
}

.section4{
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.home-lookbook {
  font-family: Cormorant Garamond, serif;
  letter-spacing: .17em;
  /* margin-bottom: 0.5rem; */
  text-transform: uppercase;
  color: inherit;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
}

.home-lookbook hr{
  display: inline-block;
  width: 100%;
  max-width: 150px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-top: 3px solid #dfafa7;
/* margin-left: 600px; */
} 

.home-lookbook-link{
  display: block;
}



.home-lookbook{
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 40px;
}

.home-grid{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.homehighlight-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fbefe9;
  margin-top: 50px;
  width: 90%;
  margin-left: 70px;
  height: 250px;
  margin-bottom: 100px;
}

.col1-img{
  text-align: center;
}
.col1-word{
  text-align: center;
}

.col1-word p{
  font-family: Lora,serif;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  font-size: 20px;
}

.col1-word h5{
  
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    color: #94acaa;
  }

.col2-img{
  text-align: center;
}
.col2-word{
  text-align: center;
}

.col2-word p{
  font-family: Lora,serif;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  font-size: 20px;
}

.col2-word h5{
  
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    color: #94acaa;
  }

.col3-img{
  text-align: center;
}
.col3-word{
  text-align: center;
}

.col3-word p{
  font-family: Lora,serif;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  font-size: 20px;
}

.col3-word h5{
  
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    color: #94acaa;
  }

.col4-img{
  text-align: center;
}
.col4-word{
  text-align: center;
}

.col4-word p{
  font-family: Lora,serif;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  font-size: 20px;
}

.col4-word h5{
  
    font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    color: #94acaa;
  }

.homehighlight-header{
  text-align: center;
}

  .homehighlight-header h2{
    color: inherit;
    font-family: Cormorant Garamond,serif;
    font-size: 65px;
    font-weight: 300;
    letter-spacing: .17em;
    line-height: 1;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: #636766;
  }

  .homehighlight-header p{
    font-family: Cormorant Garamond,serif;
    font-size: 1.5rem;
    letter-spacing: .024em;
    line-height: 1.25;
    width:60%;
    text-align: center;
    margin-left: 250px;
    color: #121313;
  }
  .newsletter-1{
    background-color: #dfafa7;
    width: 600px;
    color: white;
    text-align: center;
  }

  .newsletter-1 h3{
    /* color: #004e4e; */
    font-family: Cormorant Garamond,serif;
    font-size: 35px;
    /* font-weight: 400; */
    letter-spacing: .17em;
    line-height: 1.267;
    /* margin-bottom: 0.5rem; */
    text-transform: uppercase;
    margin-top: 150px;
  }

  .hr-newsletter{
    display: inline-block;
    width: 100%;
    max-width: 150px;
    border-top: 3px solid #fff;
    margin-bottom: 40px;
  }

.newsletter-1 p{
  letter-spacing: .05em;
    line-height: 1.765;
}

.newsletter-1 form input{
  flex: 1 1 auto;
    padding: 0.8125rem 0;
    font-family: Raleway,sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1.5;
    background:  #f4e3e0;
    border: 0;
    color: #636766;
    width: 300px;
    padding-left: 30px;
    margin-top: 40px;
}

.newsletter-1 form button{
  background: #fff;
  border-color: #eff1f1;
  color: #121313;
  font-family: Raleway,sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1.5;
    border-radius: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    height: 47px;
    margin-top: 40px;
}


.newsletter-2 blockquote{
  background-color: #eff1f1;
  color: #707673;
height: 500px;
}

.newsletter-2 blockquote p{
  font-family: Cormorant Garamond,serif;
    letter-spacing: .17em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: inherit;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.3;
    width: 600px;
    text-align: center;
    padding-top: 50px;
}

.newsletter{
  display: flex;
margin-left: 70px;
margin-top: 70px;
}

footer{
  margin-top: 100px;
}

.footer-flex{
  display: flex;
  justify-content: space-evenly;
}

.footer-flex{
  text-align: center;
  /* border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem; */
  margin-bottom: 40px;
  height: 400px;
}

.footer-flex-1{
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
}

.footer-flex-1 h3{
  font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 15px;
    margin-top: 60px;
}

.footer-flex-1 p{
  font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    width: 300px;
    margin-bottom: 10px;
}

.footer-flex-1 .footer-span{
  font-family: Cormorant Garamond,serif;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: .024em;
    line-height: 1.3;
    color: #121313;
    text-transform: none;
    margin-bottom: 10px;
}

.footer-span-1{
  font-family: Cormorant Garamond,serif;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: .024em;
    line-height: 1.3;
    /* color: #121313; */
    text-transform: none;
}

.footer-flex-2-1{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
}

.about{
  margin-top: 30px;
}

.about h4{
  margin-bottom: 10px;
}

.about ul li{
  list-style: none;
  /* margin-right: 30px; */
  margin-bottom: 10px;
  
}

.help{
  margin-top: 30px;
}

.help h4{
  margin-bottom: 10px;
}

.help ul li{
  list-style: none;
  margin-bottom: 10px
}

.more{
  margin-top: 30px;
}

.more h4{
  margin-bottom: 10px;
}

.more ul li{
  list-style: none;
  margin-bottom: 10px;
}

.footer-flex-3{
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
}

.footer-flex-3-1{
  margin-top: 60px;
  margin-bottom: 20px;
  
}

.footer-flex-3-1 h3{
  font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20px;
}

.footer-flex-3-1 p{
  font-size: .875rem;
    letter-spacing: .04em;
    line-height: 1.714;
    width: 300px;
    margin-bottom: 40px;
}

.footer-flex-3-2 img{
  width: 30px;
  margin-right: 10px;
}

.footer-last{
  text-align: center;
background-color: #f7f4f2;
height: 60px;
}

.footer-last p{
  color: #9eadc6;
}

.footer-last p a{
  text-decoration: none;
  color: #9eadc6;
}



